* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

.header-page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
  padding: 0.5rem;

  h1 {
    font-size: 24px;
    color: #f9faf8;
  }

  .header-links {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      color: #f9faf8;
    }
  }
}
